body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
h1,
a,
p,
br {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.header {
  margin: 20px auto;
  max-width: 1100px;
  display: flex;
  justify-content: center;
  position: relative;
}

header::after {
  content: "";
  width: 100%;
  height: 3px;
  background: #110144;
  position: absolute;
}

.header .nav {
  align-self: center;
}

.header .logo {
  align-self: center;
  /*margin-left: 100px;*/
}

/*.header .link {
  font-size: 1.3rem;
  color: #fff;
  background: linear-gradient(180deg, #110144 0%, #210b66 100%);
  padding: 10px 20px;
  font-weight: 600;
  border-radius: 8px;
}

.link-white {
  background: white;
  border: 3px solid #110144;
  padding: 7px 17px;
  border-radius: 8px;
  font-size: 1.3rem;
  color: #110144;
  font-weight: 600;
}

.user-option {
  padding: 0;
  display: flex;
  gap: 20px;
  align-content: center;
}
.user-option img {
  margin-right: 30px;
}
*/

.destaque {
  margin: 0 auto;
  width: 1100px;
  height: 330px;
  background: url("/img/destaque.jpg") no-repeat center;
  background-size: cover;
  border-radius: 8px;
}

.books-destaque {
  margin-top: 80px;
}

.destaque h1 {
  font-size: 4rem;
  color: #fff;
  max-width: 11ch;
  margin-left: 40px;
  padding-top: 20px;
}
